.bk-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px inset black;
    box-shadow: 5px 5px 5px #888888;
}
.bk-container:hover{
    border: 1px solid red;
}
.bk-pic{
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    width: 99%;
    height: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bk-detail{
    align-items: center;
}
.price{
    display: inline;
    color: red;
}
button.addCartButton{
    background-color: black;
    margin: 0 auto;
    /* margin-top: 3px; */
    margin-bottom: 15px;
    display: block;
    height: 35px;
    width: 80%;
    color: white;
    border-radius: 3px;
}
button.addCartButton:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}