.bk-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bk-container:hover{
    border: 1px solid red;
}
.bk-pic{
    margin: 0 auto;
    align-items: center;
    width: 80%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bk-detail{
    align-items: center;
}
.price{
    display: inline;
    color: red;
}
.cart-icon{
    background-color: red;
    margin: 0 auto;
    align-items: center;
    display: block;
    height: 35px;
    width: 120px;
    color: white;
    border-radius: 10px;
}