.category{
    vertical-align: middle;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    width: 50%;
    height: 10px;
    background-color: teal;
    height: 200px;
    border-radius:10px;
    opacity: 0;
  }
  .card{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(100, 10, 10,0.8);
    background-position: center;
    transition: all 500ms;
  }
  .card:hover{
    transform: scale(1.02);
  }
  .card:hover .category{
    color: black;
  }
  .title{
    font-family: 'Fondamento', cursive;
    opacity: 1;
  }
  .card:hover .category{
    opacity: 1;
    cursor: pointer;
  }
  .subtitle{
    font-family: 'Fondamento', cursive;
    font-size: x-large;
  }