html, body, #root{
    margin: 0;
    padding: 0;
}
.header-container{
    margin: 0 0px 10px 0px;
    color: cornsilk;
   display: flex;
   background-color: #333;
}

.site-name{
    width: 40%;
    padding: 15px;
    margin: 0 ;
    font-family: 'Fondamento', cursive;
    font-size: x-large;
}

@media only screen and (max-width: 600px){
    .header-container{
        display: flex;
     }
     .site-name{
         width: 45%;
        font-size: medium;
    }
      ul{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          max-width: 55%;
          margin: 0;
          padding: 0;
          font-size: small;
     }
     li{
         text-align: center;
         max-width: 80px;
     }
     li:hover{
         max-width: 80px;
     }
     .sign_in_out_btn{
         text-align: center;
         color: green;
         max-width: 80px;
     }
     .sign_in_out_btn:hover{
         max-width: 80px;
     }
}

.left{
    padding-top:20px ;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

ul {
    width: 200px;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    /* background-color: #333; */
}
li{
    float: right;
    padding: 0px 0px;
}
li a {
    max-width: 100px;
    height: 25px;
    padding: 0px;
    margin: 0em;
    display: block;
    color: cornsilk;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-family: 'Fondamento', cursive;
  }
  li:hover  {
    background-color: #111;
    color: blanchedalmond;
    max-width: 100px;
    height: 25px;
  }
.sign_in_out_btn{
    box-sizing: border-box;
    padding: 4px 0;
    font-family: 'Fondamento', cursive;
    vertical-align: middle;
    max-width: 120px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    float: right;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.sign_in_out_btn:hover{
    background-color: #111;
    max-width: 120px;
    height: 30px;
}
