
body{
  box-sizing: border-box;
  /* background-color: var(--myblack); */
}
.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}
.mt-4{
  margin-top: 40px;
}
.mt-5{
  margin-top: 50px;
}
.mt-6{
  margin-top: 60px;
}
.mt-7{
  margin-top: 70px;
}
.mt-8{
  margin-top: 80px;
}
.mt-9{
  margin-top: 90px;
}
.mt-10{
  margin-top: 100px;
}


