.checkoutitems{
    display: flex;
    margin-top: 10px;
    align-items: center;
    box-sizing: border-box;
}
.image{
    width: 100px;
    height:  150px;
    padding: 0em;
    margin: 0em;
}
.chkoutitemdetails{
    width: 22%;
    text-align: left;
}
.remove{
    width: 12%;
    text-align: center;
}
.desc{
    padding-left: 15px;
    padding-left: 5px;
}
.qty{
    padding-left: 35px;
}
@media only screen and (max-width: 600px) {
    .checkoutitems{
        font-size: xx-small;
    }   
    .image{
        width: 88px;
        height:  150px;
        padding: 0em;
        margin: 0em;
    }
    .desc{
        margin-left: 10px;
    }
}